*{
    margin: 0;
    padding: 0;
  
 
}
body{

    font-size: 1rem;
    line-height: 1.5rem;
}

.video-header{
   width:100%;
   align-items: center;
}
.video-header video {
    position: absolute;
}


.header-overley{
    position:absolute;
    width: 100vW;
    height: 100vh;
    padding-top:5rem;
   
    background: rgba(167, 184, 73, 0.637);
    opacity:0.5;
}

.header-content{
    top:0;
    left: 0;
  z-index: 2;
  margin-top: 100px;
  padding: 20px;
    
}
